<!DOCTYPE html>
<html lang="en">

<head>
        <title>Latest builds</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
                crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous"></script>
        <style type="text/css">
                body {
                        margin: 4em;
                }

                h1,
                h2,
                h3 {
                        margin-bottom: 0.5em;
                }

                hr {
                        margin-top: 1.5em;
                        margin-bottom: 1.5em;
                }
        </style>
</head>

<body>
        <div class="container">
                <div class="row">
                        <div class="col">
                                <h1>Latest builds</h1>
                                {{range $idx, $proj := .Projects}} {{if gt $proj.TotalFiles 0}}
                                        {{if gt $idx 0}}
                                             <hr/>
                                        {{end}}
                                        <h2 id="{{$proj.NameID}}">{{$proj.Name}}</h2>
                                        {{range $proj.Builds}} {{if .Build.Files}}
                                                <h4>{{.Name}} <a href="{{.Build.WebURL}}">#{{.Build.Number}}</a></h4>
                                                <p>
                                                        Status: {{.Build.StatusText}}<br>
                                                        Completed: {{.Build.DateStr}}<br>
                                                </p>
                                                <ul>
                                                {{range .Build.Files}}
                                                        <li><a href="{{$.Base}}{{.Content.HRef}}">{{.Name}}</a> ({{.SizeStr}})
                                                {{end}}
                                                </ul>
                                        {{end}} {{end}}
                                {{end}} {{end}}
                                <hr>
                                <p class="text-muted">Served by <a href="https://kastelo.io/tcbuilds">kastelo.io/tcbuilds</a>.
                        </div>
                </div>
        </div>
</body>

</html>